body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

/* Define o estilo da tabela */
table {
    width: 80%;
    /* Centraliza a tabela na página */
    margin: 20px;
    /* Remove o espaçamento entre as bordas das celulas */
    border-collapse: collapse;
    background-color: white;
    /* Adiciona sombra a tabela */
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.1);
}

/* Define o estilo das células da tabela (tanto cabeçalho quanto o corpo) */
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

/* Define o estilo do cabeçlho da tabela */
th {
    background-color: #4caf50;
    color: white;
} 

/* Alterna a cor de fundo das linhas pares para melhorar a visualização */
tr:nth-child(even) {
    background-color: #f2f2f2;
} 

/* Altera a cor do funod quando o mouse passa sobre a linha */
tr:hover {
    background-color: #ddd;
}